body {
  background-color: rgb(135, 233, 179);
  color: white;
  font-family: sans-serif;
}

#headerDiv #mid {
  color:rgb(42, 206, 42);
}

#headerDiv{
  position: absolute;
  left: 35%;
  top: 2%;
  clear: both;
  text-align: center;
}

#headerDiv h1 {
  float: left;
  color: white;
  font-size: 8vw;
}

.container {
  top:10%;
  left: 12.5%;
  position: absolute;
  width: 75%;
  height: 100%;
  padding: 5%;
  font-size: 4vw;
  line-height: 4vw;
  display:table;
  vertical-align:middle;
}

.text {
  padding: 5%;
}

input {
  /* left: 20%;
  position: absolute; */
  width: 85%;
  font-size: 4vw;
  line-height: 4vw;
  border: 1px solid white;
  background-color: rgb(135, 233, 179);
  color:white;
}

button {
  width: 85%;
  font-size: 2vw;
  border: 1px solid rgb(103, 170, 63);
  padding: 15px 32px;
  text-align: center;
  margin-top: 5%;
  vertical-align: middle;
  background-color: rgb(103, 170, 63);
  color:white;
}

.button {
  padding: 5%;
}
