body {
    background-color: rgb(222, 236, 229);
    color: rgb(75, 73, 73);
    font-family: sans-serif;
  }

p {
    position: absolute;
    left: 20%;
    margin: 10%;
    text-align: left;
}

.buttons {
    width: 100%;
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;
    padding:2%;
  }
  button {
    font-size: 2vw;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    left: 70%;
    position: relative;
  }
  
  .sideMenu {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(135, 233, 179); 
    overflow-x: hidden; 
    padding-top: 25px; 
    transition: 0.5s; 
  }
  
  #sideMenuOpen {
    position: fixed;
    left: 2%;
    margin: 5%;
    padding: 1%;
    width: 10%;
    text-align: center;
    color: white;
    background-color: rgb(103, 170, 63);
  }
  
  .sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sideMenu a:hover {
    color: #406bbb;
    background-color: rgb(210, 223, 228);
  }
  
  .sideMenu .closeb {
    background-color: lightgray;
    color: white;
    font-size: 15px;
  }