body {
    background-color: rgb(222, 236, 229);
    color: rgb(75, 73, 73);
    font-family: sans-serif;
    font-size: 4vw;
  }

p {
    position: absolute;
    left: 20%;
    margin: 10%;
    text-align: left;
}

.buttons {
    width: 100%;
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;
    padding:2%;
  }

  button {
    font-size: 6vw;
    border-radius: 10px;
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
  }

  .sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(135, 233, 179);
    overflow-x: hidden;
    padding-top: 25px;
    transition: 0.5s;
  }

  #sideMenuOpen {
    position: fixed;
    left: 2%;
    margin: 5%;
    background-color: rgb(222, 236, 229);
  }


  .sideMenu a {
    padding: 8px 8px 8px 32px;
    margin: 3vh 3vh 6vh 3vh;
    text-decoration: none;
    font-size: 4.85vw;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sideMenu a:hover {
    color: #406bbb;
    background-color: rgb(210, 223, 228);
  }

  .sideMenu .closeb {
    width: 6vh;
    margin-left: 70%;
  }

  #mfTable {
    color: rgb(75, 73, 73);
    position: absolute;
    top:3%;
    left:5%;
    margin:10%;
    border:none;
    border-collapse: separate;
    border-spacing: 0 1em;
    width:70%;
  }

  #mfTable td {
    text-align: center;
    border:1px solid rgb(75, 73, 73);
  }

  #rdsPopup
{
    width: 50%;
    /*height: 20%;*/
    position: fixed; left:25%; top:30%;
    background-color: rgb(103, 170, 63);
    border-radius: 10px;
    font-size: 5vw;
    color: rgb(75, 73, 73);
    visibility: hidden;
    text-align: center;
    color: white;
    padding-top:15%;
    padding-bottom: 15%;
}

#rdsPopup a {
  color: white;
  align-self: center;
  text-decoration: none;
  text-align: center;
}
