body {
  background-color: rgb(135, 233, 179);
  color: white;
  font-family: sans-serif;
}

.container {
  top:5%;
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 5%;
  font-size: 6vw;
  font-family: sans-serif;
  color: #fff;
  line-height: 4vw;
  display:table;
  vertical-align:middle;
  margin:1%
}

.text {
  padding: 10%;
}

.choice {
  padding: 15%;
}

.choice label {
  width: 100%;
  font-size: 5vw;
  left: 85%;
  position: absolute;
}

.choice input {
  width: 30px;
  height: 30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: rgb(135, 233, 179);
}

input {
  width: 75%;
  left: 75%;
  position: absolute;
  font-size: 5vw;
  line-height: 4vw;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(135, 233, 179);
  color: #fff;
  border-bottom: 2px solid #fff;
}

select{
  font-size: 5vw;
  /* color: #fff; */
  background-color: #fff;
  left: 75%;
  position: absolute;
  height: 5vw;
  width: auto;
  text-align: center;
}

button {
  font-size: 5vw;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  left: 90%;
  position: relative;
}

.button {
  margin-top: 5%;
}

#submit {
  background-color: #5A6978;
  color: #fff
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
}

#sideMenuOpen {
    position: fixed;
    left: 2%;
    margin: 5%;
    padding-top: 1%;
    z-index: 1;
}

.sideMenu a {
  padding: 8px 8px 8px 32px;
  margin: 3vh 3vh 6vh 3vh;
  text-decoration: none;
  font-size: 3vh;
  color: white;
  display: block;
  transition: 0.3s;
}

.sideMenu a:hover {
  color: #406bbb;
  background-color: rgb(210, 223, 228);
}

.sideMenu .closeb {
  background-color: lightgray;
  color: white;
  font-size: 15px;
}
