body {
  background-color: rgb(135, 233, 179);
  color: white;
  font-family: sans-serif;
}

.content {
  width:100%;
}

h1 {
  color: #5A6978;
  font-size: 8vw;
  left: 40%;
  position: relative;
}

.nutrition_list {
  font-size: 5vw;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin:1%;
  margin-left: 10%;
  margin-right: 10%;
  padding:2%;
}


.nutrition_list input{
  left: 75%;
  position: absolute;
  width: 10%;
  border-color: grey;
  font-size: 5vw;
}

.per {
  left: 86%;
  position: absolute;
}

.lab {
  left: 72%;
  position: absolute;
}

.nutrition_list output {
  left: 55%;
  position: absolute;
  width: 15%;
  border: 2px;
  border-color: grey;
  font-size: 5vw;
}

button {
  left: 35%;
  position: relative;
  width: 30%;
  font-size: 5vw;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
}

#submit {
  background-color: #5A6978;
  color: white;
}

.buttons {
  width: 100%;
  margin:5%;
  margin-left: 10%;
  margin-right: 10%;
  padding:2%;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
}

#sideMenuOpen {
  position: fixed;
  left: 2%;
  margin: 5%;
  padding: 1%;
  width: 5%;
  text-align: center;
}

.sideMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideMenu a:hover {
  color: #406bbb;
  background-color: rgb(210, 223, 228);
}

.sideMenu .closeb {
  background-color: lightgray;
  color: white;
  font-size: 15px;
}
