body {
  font-family: sans-serif;
  color: #0a0a0a;
}

.content {
  width:100%;
}

h1 {
  color: #5A6978;
  font-size: 8/*vw*/;
  left: 40%;
  position: relative;
}

.nutrition_list {
  font-size: 5/*vw*/;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin:5%;
  margin-left: 10%;
  margin-right: 10%;
  padding:2%;
}


.nutrition_list input{
  left: 75%;
  position: absolute;
  width: 20%;
  border-color: grey;
  font-size: 5vw;
}

.per {
  left: 97%;
  position: absolute;
}

.lab {
  left: 72%;
  position: absolute;
}

.nutrition_list output {
  left: 55%;
  position: absolute;
  width: 15%;
  border: 2px;
  border-color: grey;
  font-size: 5/*vw*/;
}

button {
  left: 35%;
  position: relative;
  width: 30%;
  font-size: 5/*vw*/;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
}

#submit {
  background-color: #5A6978;
  color: white;
}

.buttons {
  width: 100%;
  margin:5%;
  margin-left: 10%;
  margin-right: 10%;
  padding:2%;
}
