body {
  background-color: rgb(222, 236, 229);
  color: white;
  font-family: sans-serif;
}

.content {
  top: 20%;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  font-size: 6vw;
  font-family: sans-serif;
  color: #5A6978;
  line-height: 4vw;
  display:table;
  vertical-align:middle;
  margin:1%
}

.nutrition_list {
  font-size: 6vw;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin:1%;
  margin-left: 10%;
  margin-right: 10%;
  padding:5%;
}

#plan {
  font-size: 10vw;
  color: #5A6978;
  width: 100%;
  left: 35%;
  top: 10%;
  position: absolute;
}

.nutrition_list input{
  left: 85%;
  position: absolute;
  width: 10%;
  border-color: grey;
  font-size: 5vw;
}

.per {
  left: 100%;
  position: absolute;
}

.lab {
  left: 72%;
  position: absolute;
}

.nutrition_list output {
  left: 55%;
  position: absolute;
  width: 15%;
  border: 2px;
  border-color: grey;
  font-size: 5vw;
}

button {
  font-size: 6vw;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
}

.buttons {
  margin-top: 5%;
}

.buttons {
  width: 100%;
  font-size: 6vw;
  left: 15%;
  position: relative;
  background-color: #7ED957;
  color: #fff
}

#submit {
  margin-top: 15%;
}

#cancel {
  background-color: #ccc;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(135, 233, 179);
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
}

#sideMenuOpen {
  position: fixed;
  left: 2%;
  margin: 5%;
  background-color: rgb(222, 236, 229);
}


.sideMenu a {
  padding: 8px 8px 8px 32px;
  margin: 3vh 3vh 6vh 3vh;
  text-decoration: none;
  font-size: 6vw;
  color: white;
  display: block;
  transition: 0.3s;
}

.sideMenu a:hover {
  color: #406bbb;
  background-color: rgb(210, 223, 228);
}

.sideMenu .closeb {
  width: 6vh;
  margin-left: 70%;
}
