body {
  background-color: rgb(135, 233, 179);
  color: white;
  font-family: sans-serif;
}

.container {
  top:10%;
  left: 10%;
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 5%;
  font-size: 4vw;
  font-family: sans-serif;
  color: #5A6978;
  line-height: 4vw;
  display:table;
  vertical-align:middle;
  margin:1%
}

.text {
  color:white;
  padding: 5%;
}

.choice {
  padding: 3%;
}

.choice label {
  left: 60%;
  position: absolute;
  color:white;
}

.choice input {
  width: 25px;
  height: 25px;
}

input {
  left: 50%;
  position: absolute;
  font-size: 3vw;
  line-height: 4vw;
  border: 1px solid white;
  background-color: rgb(135, 233, 179);
  color:white;
}

button {
  font-size: 2vw;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  left: 70%;
  position: relative;
}

.button {
  margin-top: 5%;
}

#submit {
  background-color: rgb(103, 170, 63);
  color: #fff
}

.sideMenu {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: lightblue; 
  overflow-x: hidden; 
  padding-top: 25px; 
  transition: 0.5s; 
}

#sideMenuOpen {
    position: fixed;
    left: 2%;
    margin: 5%;
    padding-top: 1%;
    z-index: 1;
    color: white;
    background-color: rgb(103, 170, 63);
}

.sideMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideMenu a:hover {
  color: #406bbb;
  background-color: rgb(210, 223, 228);
}

.sideMenu .closeb {
  background-color: lightgray;
  color: white;
  font-size: 15px;
}