
body{
    background-color: rgb(135, 233, 179);
    font-weight: lighter;
    font-family: sans-serif;
    background-image: url("StoreBackground.png");
    background-repeat: no-repeat;
    background-position: right top+80px;
    background-size: cover;
}

#youAreHere
{
    color:red;
    font-size: 12vw;
    position: fixed; left:90%; top:90%;
}

#text {
  font-size: 7vw;
  font-family: fantasy;
  font-weight: lighter;
  color: #fff;
  width: 85%;
  left: 8%;
  right: 0%;
  top: 60%;
  position: fixed;
}

#awayBs a {
    text-decoration: none;
    background-color: rgb(20, 210, 120);
    color: white;
    margin-left: 1%;
    padding:1%;
    font-size: 4vw;
    border-radius: 8px;
}

#foodPopup
{
    width: 50%;
    position: fixed; left:25%; top:10%;
    background-color: rgb(135, 233, 179);
    border-radius: 10px;
    font-size: 5vw;
    color: #5A6978;
    visibility: hidden;
}

#foodPopup p{
    text-align: center;
    color: white;
}

#foodPopup div a{
    margin:1%;
    margin-left: 7%;
    background-color: rgb(20, 210, 120);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
#closebtn{
    margin: 1%;
    border-radius:5px;
    background-color: red;
    color:white;


}
