body {
  background-color: rgb(135, 233, 179);
  color: white;
  font-family: sans-serif;
}

.container {
  top: 5%;
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 5%;
  font-size: 6vw;
  font-family: sans-serif;
  color: #fff;
  line-height: 4vw;
  display:table;
  vertical-align:middle;
  margin:1%;
  margin-top: 20%;
}

#welcome {
  font-size: 10vw;
  left: 25%;
  top: 10%;
  position: absolute;
}

#notice {
  font-size: 4vw;
  color: grey;
  width: 100%;
  left: 15%;
  position: relative;
}

.text {
  padding: 10%;
  top: 20%;
  position: relative;
}

input {
  width: 75%;
  left: 85%;
  position: absolute;
  font-size: 5vw;
  line-height: 4vw;
  background-color: rgb(135, 233, 179);
  color: #fff;
  border: 2px solid #fff;
}

select{
  font-size: 5vw;
  /* color: #fff; */
  background-color: #fff;
  left: 85%;
  position: absolute;
  height: 5vw;
  width: auto;
  text-align: center;
}

button {
  font-size: 5vw;
  border-radius: 5px;
  padding: 25px 32px;
  text-align: center;
  left: 90%;
  position: relative;
}

.button {
  margin-top: 15%;
}

#submit {
  width: 150%;
  left: 10%;
  position: relative;
  background-color: #7ED957;
  color: #fff
}
