body {
  background-color: rgb(135, 233, 179);
  color: white;
  font-family: sans-serif;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  p {
    margin: auto;
    text-align: center;
  }
  
  h1{
    text-align: center;
  }
  
  h2{
    text-align: center;
  }
  
  span {
    padding: 5px;
    background-color: rgb(5, 126, 75);
    color: white;
  }
  span a{
    text-decoration: none;
    color: white;
  }
  
  table,th{
    border: 1px solid black;
    margin:auto;
    border-collapse: collapse;
  }
  #logoutb{
    text-decoration: underline;
  }
  
  .overlayOpen{
    margin:10px;
  }
  
  .sideMenu {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue; 
    overflow-x: hidden; 
    padding-top: 25px; 
    transition: 0.5s; 
  }

  #sideMenuOpen {
      margin: 100px;
      padding-top: 10px;
  }
  
  .sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sideMenu a:hover {
    color: #406bbb;
    background-color: rgb(210, 223, 228);
  }
  
  .sideMenu .closeb {
    background-color: lightgray;
    color: white;
    font-size: 15px;
  }
  
  .overlay{
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255); 
    overflow-y: hidden; 
    padding-top: 25px; 
    transition: 0.5s; 
  }
  
  .overlay a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay .closeb {
    background-color: lightgray;
    color: white;
    font-size: 15px;
  }

  .result
  {
    visibility: hidden;
    color: black;
  }

  .overlay .result2 span
  {
    background-color: gray;
  }
  .overlay .result2 .shop
  {
    background-color:gray;
    display: inline;
    color: blue;
    margin-left: 3%;
  }
  .overlay .result2
  {
    padding: 1% 1% 1% 1%;
    margin:1%;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
  }
  .overlay .result2 .foodAdd
  {
    color: green;
  }

  .result:hover{
    background-color: lightgray;
  }


  #consumedTable td{
    border: 1px solid black;
    margin:auto;
    border-collapse: collapse;
  }

  .removeRow {
    background-color: red;
  }
.rowp {
    background-color: green;
}
